@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Resources

@{
    // Create view model every render. The resource state may have changed.
    var vm = ResourceStateViewModel.GetStateViewModel(Resource, Loc);
}

<div class="state-column-cell">
    <StateDot Tone="@ResourceStateTone.Get(Resource)" Text="@vm.Text" />

    <UnreadLogErrorsBadge
        UnviewedErrorCounts="UnviewedErrorCounts"
        Resource="@Resource" />

</div>
