.vscode/**
.vscode-test
.vscode-test/**
out
out/**
node_modules
node_modules/**
src/**
.gitignore
.yarnrc
.yarnrc.yml
.yarn
.yarn/**
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.js.map