@implements IDialogContentComponent<AspirePageContentLayout.MobileToolbar>

<FluentDialogBody>
    <div class="deck-stack deck-stack--vertical">
        @Content.ToolbarSection
    </div>

    <FluentButton Class="mobile-absolute-toolbar mobile-toolbar"
                  Appearance="@Appearance.Accent"
                  Disabled="true">
        @Content.MobileToolbarButtonText
    </FluentButton>
</FluentDialogBody>

@code {
    [Parameter]
    public required AspirePageContentLayout.MobileToolbar Content { get; set; }
}
