@implements IDialogContentComponent<AspirePageContentLayout.MobileToolbar>

<FluentDialogBody>
    <div class="deck-stack deck-stack--vertical">
        @Content.ToolbarSection
    </div>

    <button type="button"
            class="btn btn--primary mobile-absolute-toolbar mobile-toolbar"
            disabled>
        @Content.MobileToolbarButtonText
    </button>
</FluentDialogBody>

@code {
    [Parameter]
    public required AspirePageContentLayout.MobileToolbar Content { get; set; }
}
