.application-run-select ::deep fluent-select {
    min-width: 200px;
    width: min(200px, 30vw);
    margin-right: 8px;
}

.application-run-select ::deep fluent-select::part(indicator) {
    display: none;
}