@namespace Aspire.Dashboard.Components

@using Aspire.Dashboard.Components.Dialogs
@using Aspire.Dashboard.Resources

@inject IStringLocalizer<ControlsStrings> Loc

@if (!string.IsNullOrWhiteSpace(ExceptionText))
{
    <button type="button"
            class="icon-btn icon-btn--sm exception-details-button"
            @onclick="OnExceptionDetailsClickedAsync"
            title="@Loc[nameof(ControlsStrings.ExceptionDetailsTitle)]">
        <DeckIcon Name="DeckIconName.DocumentError" Size="16" Class="icon-accent" />
    </button>
}

@code {
    [Parameter, EditorRequired]
    public required string ExceptionText { get; set; }

    [Inject]
    public required DashboardDialogService DialogService { get; init; }

    private async Task OnExceptionDetailsClickedAsync()
    {
        await TextVisualizerDialog.OpenDialogAsync(new OpenTextVisualizerDialogOptions
        {
            DialogService = DialogService,
            ValueDescription = Loc[nameof(ControlsStrings.ExceptionDetailsTitle)],
            Value = ExceptionText
        });
    }
}
