@using Aspire.Dashboard.Resources

@if (AIContextProvider.Enabled && HasErrors)
{
    <button type="button" slot="end" class="btn btn--ghost" title="@Loc[nameof(AIAssistant.ExplainErrorsButtonText)]" aria-label="@Loc[nameof(AIAssistant.ExplainErrorsButtonText)]" @onclick="() => OnClick.InvokeAsync()">
        <DeckIcon Name="DeckIconName.Sparkle" Size="16" />
        @Loc[nameof(AIAssistant.ExplainErrorsButtonText)]
    </button>
    <Divider slot="end" />
}
