@using Metrics = Aspire.Dashboard.Resources.Metrics

@if (_titleBadge is { } titleBadge)
{
    <span class="message-name">
        @if (ShowIcon)
        {
            <DeckIcon Name="titleBadge.Icon" Size="18" Style="@($"color: {ColorGenerator.Instance.GetColorVariableByKey(ResourceName)};")" />
        }
        @titleBadge.Text
    </span>
}

@if (_categoryBadge is { } categoryBadge)
{
    <span class="category-badge category-@categoryBadge.Class">
        <DeckIcon Name="categoryBadge.Icon" Size="16" Style="color: var(--icon-color);" />
        @categoryBadge.Text
    </span>
}
