@using Aspire.Dashboard.Resources
@inject IStringLocalizer<ControlsStrings> Loc

<button type="button"
        class="icon-btn"
        title="@(IsPaused ? Loc[nameof(ControlsStrings.ResumeButtonTitle)] : Loc[nameof(ControlsStrings.PauseButtonTitle)])"
        @onclick="@OnTogglePauseCoreAsync">
    @if (IsPaused)
    {
        <DeckIcon Name="DeckIconName.Play" Size="16" />
    }
    else
    {
        <DeckIcon Name="DeckIconName.Pause" Size="16" />
    }
</button>
