::deep.resource-details-layout {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "toolbar"
        "main";
    overflow: auto;
    gap: var(--spacingHorizontalXS);
}

::deep.resource-details-layout > .details-toolbar {
    grid-area: toolbar;
}
