@using System.Collections.Concurrent

@inject IStringLocalizer<Dashboard.Resources.Resources> Loc

<div class="deck-stack deck-stack--vertical" style="row-gap: 15px;">
    <fieldset class="filter-group">
        <legend>@Loc[nameof(Resources.Resources.ResourcesResourceTypesHeader)]</legend>
        <SelectResourceOptions
            Id="resource-types"
            Values="ResourceTypes"
            OnAllValuesCheckedChangedAsync="OnAllFilterVisibilityCheckedChangedAsync"
            OnValueVisibilityChangedAsync="OnResourceFilterVisibilityChangedAsync" />
    </fieldset>
    <fieldset class="filter-group">
        <legend>@Loc[nameof(Resources.Resources.ResourcesResourceStatesHeader)]</legend>
        <SelectResourceOptions
            Id="resource-states"
            Values="ResourceStates"
            OnAllValuesCheckedChangedAsync="OnAllFilterVisibilityCheckedChangedAsync"
            OnValueVisibilityChangedAsync="OnResourceFilterVisibilityChangedAsync"/>
    </fieldset>
    <fieldset class="filter-group">
        <legend>@Loc[nameof(Resources.Resources.ResourcesDetailsHealthStateProperty)]</legend>
        <SelectResourceOptions
            Id="resource-health-states"
            Values="ResourceHealthStates"
            OnAllValuesCheckedChangedAsync="OnAllFilterVisibilityCheckedChangedAsync"
            OnValueVisibilityChangedAsync="OnResourceFilterVisibilityChangedAsync"/>
    </fieldset>
</div>

@code {

    [Parameter, EditorRequired]
    public required ConcurrentDictionary<string, bool> ResourceTypes { get; set; }

    [Parameter, EditorRequired]
    public required ConcurrentDictionary<string, bool> ResourceStates { get; set; }

    [Parameter, EditorRequired]
    public required ConcurrentDictionary<string, bool> ResourceHealthStates { get; set; }

    [Parameter, EditorRequired]
    public required Func<Task> OnAllFilterVisibilityCheckedChangedAsync { get; set; }

    [Parameter, EditorRequired]
    public required Func<string, bool, Task> OnResourceFilterVisibilityChangedAsync { get; set; }
}
