::deep.span-details-layout {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "toolbar"
        "main";
    overflow: auto;
    gap: var(--spacingHorizontalXS);
}

::deep.span-details-layout > .details-toolbar {
    grid-area: toolbar;
}

::deep .property-grid-container h4 {
    padding: var(--spacingHorizontalM);
    margin-top: var(--spacingVerticalXS);
    margin-bottom: 0;
}

::deep .spanlink-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--spacingHorizontalXXS);
    align-items: center;
}

::deep .spanlink-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
