@using Aspire.Dashboard.Utils

@* Render the Deck state dot (tone) inline, keeping the highlighter for the state text. *@
<span class="state__dot @ResourceStateTone.Get(Resource)" style="margin-right: 6px;" title="@_stateViewModel.Text"></span>
<Highlighter HighlightedText="@HighlightText" Text="@_stateViewModel.Text" />
