@using Aspire.Dashboard.Utils

@if (_resourceIconName is { } iconName)
{
    @* Only display a button if dashboard client is enabled and a matching resource can be found. *@
    <button type="button" class="button-hyperlink" @onclick="OnClickAsync">
        <DeckIcon Name="iconName" Size="16" Class="resource-icon" />
        <Highlighter HighlightedText="@HighlightText" Text="@Value" />
    </button>
}
else
{
    <Highlighter HighlightedText="@HighlightText" Text="@Value" />
}
