@using Aspire.Dashboard.Utils

<button type="button" class="button-hyperlink" @onclick="OnClickAsync">
    <DeckIcon Name="DeckIconName.GanttChart" Size="16" />
    <Highlighter HighlightedText="@HighlightText" Text="@Value" />
</button>
