.error-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(var(--design-unit) * 10px);
}

.error-code {
    --error-code-font-size: 90px;
    font-family: 'Poppins', var(--body-font);
    font-size: var(--error-code-font-size);
    line-height: var(--error-code-font-size);
    font-weight: 700;
    background: var(--aspire-gradient-purple-magenta);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.error-description {
    font-size: var(--type-ramp-plus-6-font-size);
    line-height: var(--type-ramp-plus-6-line-height);
}
