@page "/error/404"
@inject IStringLocalizer<Dashboard.Resources.Routes> Loc

<PageTitle>@Loc[nameof(Dashboard.Resources.Routes.NotFoundPageTitle)]</PageTitle>

<div class="notfound">
    <div class="notfound-code">404</div>
    <div class="notfound-title">@Loc[nameof(Dashboard.Resources.Routes.NotFoundDescription)]</div>
    <p class="notfound-text">@Loc[nameof(Dashboard.Resources.Routes.NotFoundDetails)]</p>
</div>
